{% assign news_by_year = site.news | where: "highlight", true | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-star"></i> Highlights & Updates</h6>
    <div class="news-timeline px-3 py-2">
        {% for year in news_by_year %}
        <div class="news-year-block {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            <div class="news-year">{{ year.name }}</div>
            <div class="news-items">
                {% for item in year.items %}
                <div class="news-item">
                    <time class="news-date" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%b %d" }}</time>
                    {% if item.category %}
                    <span class="news-category news-category-{{ item.category | downcase }}">{{ item.category }}</span>
                    {% endif %}
                    <div class="news-title">{{ item.title }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
